<div id="mainDiv">


  <div id="selectWrapper">
    <select [(ngModel)]="selectedValue">
      <option *ngFor="let c of customersList" [ngValue]="c">{{c.name}}</option>
    </select>

    <br>
    <div id="navBar">
      <a class="button" routerLink="/customer"> Customer</a><br>
      <a class="button" routerLink="/product">Product</a>
    </div>

  </div>

  <div id="homePage">
    <router-outlet> </router-outlet>
  </div>

  <div>
    <button (click)="onAddCustomerClick();"> Add Customer</button>
  </div>
</div>