#mainDiv {
        display: flex;
        flex: 50%;
        flex-wrap: wrap;
        padding: 10px;
}

#homePage {
    padding-left: 25px;
    padding-right: 25px;
}
#navBar {
    margin-top: 10px;
}

